In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Al_hamishkal_OR.csv')
df = df.sort_values('customer_code')
#df.iloc[:,0:10]
df

,customer_code,Name,City,Num_of_notes,Num_of_purchases,Average_purchase,Last_purchase_date,Ground spices,Group 12,Seasoning mixtures,...,Popsicle,Snacks,Difference,Packaging 93,Club,Spread,General,Isa Marketing,Frozen fruit,Natural toiletries
2787,1,חיה זר,בית אל,45,3782,84,31/03/2021 00:00,133.0,14.0,70.0,...,13.0,32.0,-8.0,NaN,33.0,NaN,NaN,4.0,NaN,NaN
3722,3,יערה ויובל לויטס,רמת גן,36,5484,152,20/04/2021 00:00,38.0,NaN,NaN,...,NaN,NaN,37.0,NaN,NaN,NaN,-11.0,NaN,42.0,NaN
6621,4,רות מנור,גבעת שמואל,9,646,72,21/02/2021 00:00,18.0,NaN,26.0,...,NaN,NaN,-17.0,NaN,17.0,NaN,34.0,NaN,NaN,NaN
385,8,אורטל רייז,קדומים,110,8238,75,13/04/2021 00:00,95.0,39.0,16.0,...,NaN,45.0,11.0,NaN,50.0,NaN,NaN,NaN,NaN,NaN
4603,10,מיכל שרגא,בית אל,62,3958,64,04/08/2021,406.0,48.0,91.0,...,NaN,NaN,-34.0,NaN,50.0,NaN,10.0,NaN,50.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2868,10000746,חן ציון שמעונה,חמד,2,387,194,04/05/2021,18.0,NaN,NaN,...,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN
106,10000747,אביחי כהן,גבעת שמואל,8,1589,199,26/04/2021 00:00,NaN,NaN,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,NaN
3126,788889525,טליה בן אור,הוד השרון,5,348,70,11/11/2020,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5861,788998842,עמיחי יוגב,דולב,2,555,277,30/10/2019 00:00,NaN,NaN,36.0,...,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN
6454,888897975,רובי ולדמן,תרום,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN