In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
mishkal_df = pd.read_csv('https://raw.githubusercontent.com/tamarsheinbach/AL_hamishkal/main/Al_hamishkal_OR.csv')
mishkal_df.head()

,customer_code,Name,City,Num_of_notes,Num_of_purchases,Average_purchase,Last_purchase_date,Ground_spices,Whole_spices,Seasoning_mixtures,...,Popsicle,Snacks,Difference,Packaging_93,Club,Spread,General,Isa_Marketing,Frozen_fruit,Natural_toiletries
0,1200842,NaN,NaN,1,22,22,29/06/2018 00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000073,אסתי אברהם ביסמוט,ירושלים,1,68,68,17/04/2019 00:00,NaN,NaN,NaN,...,NaN,NaN,-9.0,NaN,17.0,NaN,NaN,NaN,NaN,NaN
2,110319,. .,NaN,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000000,AAAA,NaN,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121873,"DSIT פתרונות בע""מ",NaN,1,7,7,04/12/2020,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
## להוריד עמודות
mishkal_df.drop('Name',axis='columns',inplace=True)
mishkal_df.head()

,customer_code,City,Num_of_notes,Num_of_purchases,Average_purchase,Last_purchase_date,Ground_spices,Whole_spices,Seasoning_mixtures,Legumes,...,Popsicle,Snacks,Difference,Packaging_93,Club,Spread,General,Isa_Marketing,Frozen_fruit,Natural_toiletries
0,1200842,NaN,1,22,22,29/06/2018 00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000073,ירושלים,1,68,68,17/04/2019 00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,-9.0,NaN,17.0,NaN,NaN,NaN,NaN,NaN
2,110319,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000000,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121873,NaN,1,7,7,04/12/2020,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
mishkal_df.isnull().sum().sort_values(ascending=False)

Nuts_are_ready                7867
Goat_milk                     7864
Natural_toiletries            7807
Isa_Marketing                 7699
Packaging_93                  7601
Caffe                         7510
Spread                        7452
Packaging                     7276
Popsicle                      7171
General                       7106
Frozen_fruit                  6986
Cakes_and_cookies             6966
Gift_packaging                6902
kitchenware                   6829
Gluten_free                   6724
Concentrators_and_essences    6652
Honey                         6564
Snacks                        6544
Drinks                        6482
Halva_and_special             5897
Tea_infusion                  5834
Seasoning_mixtures            5436
Sauces_and_jams               5404
Oil                           5347
Vitamins_and_supplements      5191
Whole_spices                  5151
Flour                         4946
Difference                    4922
Legumes                       4911
Candeis                       4863
Baking_products               4759
Dried_Fruit                   4607
Ground_spices                 4548
Products_without_VAT          4256
Dried_fruits_sugar_free       4075
Nuts                          3970
Club                          3939
Natural_products              3818
Almonds_nuts_etc.             3583
Last_purchase_date            3016
City                           478
Average_purchase                 0
Num_of_purchases                 0
Num_of_notes                     0
customer_code                    0
dtype: int64

In [5]:
## להוריד את כל השורות הריקות בעמודות המוזכרות
mishkal_df = mishkal_df.dropna(subset=['Last_purchase_date', 'City'])
mishkal_df.head()

,customer_code,City,Num_of_notes,Num_of_purchases,Average_purchase,Last_purchase_date,Ground_spices,Whole_spices,Seasoning_mixtures,Legumes,...,Popsicle,Snacks,Difference,Packaging_93,Club,Spread,General,Isa_Marketing,Frozen_fruit,Natural_toiletries
1,10000073,ירושלים,1,68,68,17/04/2019 00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,-9.0,NaN,17.0,NaN,NaN,NaN,NaN,NaN
6,10000125,גבע בנימין,53,4088,77,22/04/2021 00:00,673.0,222.0,124.0,148.0,...,NaN,NaN,3.0,NaN,50.0,NaN,NaN,NaN,21.0,NaN
7,120512,גבעת שמואל,16,1439,90,25/03/2021 00:00,27.0,33.0,8.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,112244,עלי,1,57,57,16/07/2019 00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,120075,גבעת שמואל,9,1470,163,04/09/2021,NaN,4.0,80.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
## לחלץ רק את התאריך בעמודת תאריך (להוריד את השעה)
mishkal_df['Last_purchase_date'] = pd.to_datetime(mishkal_df['Last_purchase_date'])
mishkal_df.head()

,customer_code,City,Num_of_notes,Num_of_purchases,Average_purchase,Last_purchase_date,Ground_spices,Whole_spices,Seasoning_mixtures,Legumes,...,Popsicle,Snacks,Difference,Packaging_93,Club,Spread,General,Isa_Marketing,Frozen_fruit,Natural_toiletries
1,10000073,ירושלים,1,68,68,2019-04-17,NaN,NaN,NaN,NaN,...,NaN,NaN,-9.0,NaN,17.0,NaN,NaN,NaN,NaN,NaN
6,10000125,גבע בנימין,53,4088,77,2021-04-22,673.0,222.0,124.0,148.0,...,NaN,NaN,3.0,NaN,50.0,NaN,NaN,NaN,21.0,NaN
7,120512,גבעת שמואל,16,1439,90,2021-03-25,27.0,33.0,8.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,112244,עלי,1,57,57,2019-07-16,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,120075,גבעת שמואל,9,1470,163,2021-04-09,NaN,4.0,80.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
## להגדיר תנאי שתאריך קניה אחרון הוא אחרי 1.1.2019 וספירת אינדקסים מ-0
mishkal_df = mishkal_df[mishkal_df['Last_purchase_date']>'2019-01-01'].reset_index(drop=True)
mishkal_df.head()

,customer_code,City,Num_of_notes,Num_of_purchases,Average_purchase,Last_purchase_date,Ground_spices,Whole_spices,Seasoning_mixtures,Legumes,...,Popsicle,Snacks,Difference,Packaging_93,Club,Spread,General,Isa_Marketing,Frozen_fruit,Natural_toiletries
0,10000073,ירושלים,1,68,68,2019-04-17,NaN,NaN,NaN,NaN,...,NaN,NaN,-9.0,NaN,17.0,NaN,NaN,NaN,NaN,NaN
1,10000125,גבע בנימין,53,4088,77,2021-04-22,673.0,222.0,124.0,148.0,...,NaN,NaN,3.0,NaN,50.0,NaN,NaN,NaN,21.0,NaN
2,120512,גבעת שמואל,16,1439,90,2021-03-25,27.0,33.0,8.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,112244,עלי,1,57,57,2019-07-16,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,120075,גבעת שמואל,9,1470,163,2021-04-09,NaN,4.0,80.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
## למלא את כל הערכים החסרים ב-0, בכל המחלקות
mishkal_df.fillna('0',inplace = True)
mishkal_df.head()

,customer_code,City,Num_of_notes,Num_of_purchases,Average_purchase,Last_purchase_date,Ground_spices,Whole_spices,Seasoning_mixtures,Legumes,...,Popsicle,Snacks,Difference,Packaging_93,Club,Spread,General,Isa_Marketing,Frozen_fruit,Natural_toiletries
0,10000073,ירושלים,1,68,68,2019-04-17,0,0,0,0,...,0,0,-9,0,17,0,0,0,0,0
1,10000125,גבע בנימין,53,4088,77,2021-04-22,673,222,124,148,...,0,0,3,0,50,0,0,0,21,0
2,120512,גבעת שמואל,16,1439,90,2021-03-25,27,33,8,5,...,0,0,0,0,0,0,0,0,0,0
3,112244,עלי,1,57,57,2019-07-16,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,120075,גבעת שמואל,9,1470,163,2021-04-09,0,4,80,6,...,0,0,0,0,0,0,0,0,0,0

In [9]:
## המרה לאינט
mishkal_df.iloc[:,6:] = mishkal_df.iloc[:,6:].astype("int64")
# mishkal_df.info()

In [10]:
## איחוד עמודות לפי קבוצות

## תבלינים

mishkal_df['Spices'] = mishkal_df['Ground_spices'] + mishkal_df['Whole_spices'] + mishkal_df['Seasoning_mixtures']

mishkal_df.drop('Ground_spices',axis='columns',inplace=True)
mishkal_df.drop('Whole_spices',axis='columns',inplace=True)
mishkal_df.drop('Seasoning_mixtures',axis='columns',inplace=True)

In [11]:
## רטבים וממרחים

mishkal_df['Sauces and spreads'] = mishkal_df['Sauces_and_jams'] + mishkal_df['Concentrators_and_essences'] + mishkal_df['Honey'] + mishkal_df['Spread']

mishkal_df.drop('Sauces_and_jams',axis='columns',inplace=True)
mishkal_df.drop('Concentrators_and_essences',axis='columns',inplace=True)
mishkal_df.drop('Honey',axis='columns',inplace=True)
mishkal_df.drop('Spread',axis='columns',inplace=True)

In [12]:
## פירות יבשים

mishkal_df['Dried_fruits'] = mishkal_df['Dried_Fruit'] + mishkal_df['Dried_fruits_sugar_free']

mishkal_df.drop('Dried_fruits_sugar_free',axis='columns',inplace=True)
mishkal_df.drop('Dried_Fruit',axis='columns',inplace=True)

In [13]:
## פיצוחים

mishkal_df['Nuts'] = mishkal_df['Nuts'] + mishkal_df['Nuts_are_ready'] 

mishkal_df.drop('Nuts_are_ready',axis='columns',inplace=True)

In [14]:
## פינוקים

mishkal_df['Sweets'] = mishkal_df['Popsicle'] + mishkal_df['Snacks'] + mishkal_df['Halva_and_special'] + mishkal_df['Candeis'] + mishkal_df['Drinks'] + mishkal_df['Cakes_and_cookies']

mishkal_df.drop('Popsicle',axis='columns',inplace=True)
mishkal_df.drop('Snacks',axis='columns',inplace=True)
mishkal_df.drop('Halva_and_special',axis='columns',inplace=True)
mishkal_df.drop('Candeis',axis='columns',inplace=True)
mishkal_df.drop('Drinks',axis='columns',inplace=True)
mishkal_df.drop('Cakes_and_cookies',axis='columns',inplace=True)

In [15]:
## מוצרי טבע

mishkal_df['Natural_products'] = mishkal_df['Natural_products'] + mishkal_df['Natural_toiletries']

mishkal_df.drop('Natural_toiletries',axis='columns',inplace=True)

In [16]:
## שונות

mishkal_df['Difference'] = mishkal_df['Difference'] + mishkal_df['kitchenware'] + mishkal_df['Isa_Marketing'] + mishkal_df['Products_without_VAT'] + mishkal_df['Gift_packaging'] + mishkal_df['Packaging_93'] + mishkal_df['Packaging'] + mishkal_df['General'] + mishkal_df['Goat_milk']

mishkal_df.drop('kitchenware',axis='columns',inplace=True)
mishkal_df.drop('Isa_Marketing',axis='columns',inplace=True)
mishkal_df.drop('Products_without_VAT',axis='columns',inplace=True)
mishkal_df.drop('Gift_packaging',axis='columns',inplace=True)
mishkal_df.drop('Packaging',axis='columns',inplace=True)
mishkal_df.drop('General',axis='columns',inplace=True)
mishkal_df.drop('Packaging_93',axis='columns',inplace=True)
mishkal_df.drop('Goat_milk',axis='columns',inplace=True)

In [17]:
mishkal_df.head()

,customer_code,City,Num_of_notes,Num_of_purchases,Average_purchase,Last_purchase_date,Legumes,Oil,Flour,Baking_products,...,Vitamins_and_supplements,Tea_infusion,Caffe,Difference,Club,Frozen_fruit,Spices,Sauces and spreads,Dried_fruits,Sweets
0,10000073,ירושלים,1,68,68,2019-04-17,0,0,0,0,...,0,0,0,-9,17,0,0,0,0,0
1,10000125,גבע בנימין,53,4088,77,2021-04-22,148,287,133,164,...,106,0,0,198,50,21,1019,59,45,70
2,120512,גבעת שמואל,16,1439,90,2021-03-25,5,0,0,0,...,323,13,0,17,0,0,68,0,175,20
3,112244,עלי,1,57,57,2019-07-16,0,0,0,0,...,0,0,0,35,0,0,0,0,0,0
4,120075,גבעת שמואל,9,1470,163,2021-04-09,6,0,0,0,...,162,0,0,51,0,0,84,0,271,70

In [18]:
mishkal_df.columns

Index(['customer_code', 'City', 'Num_of_notes', 'Num_of_purchases',
       'Average_purchase', 'Last_purchase_date', 'Legumes', 'Oil', 'Flour',
       'Baking_products', 'Almonds_nuts_etc.', 'Nuts', 'Natural_products',
       'Gluten_free', 'Vitamins_and_supplements', 'Tea_infusion', 'Caffe',
       'Difference', 'Club', 'Frozen_fruit', 'Spices', 'Sauces and spreads',
       'Dried_fruits', 'Sweets'],
      dtype='object')

In [19]:
# mishkal_df1 = mishkal_df.sort_values('ישוב').reset_index(drop=True)
# mishkal_df1

In [20]:
# mishkal_df1 = pd.get_dummies(mishkal_df1['ישוב'])
# mishkal_df1

In [21]:
# ## מיון לפי ישוב ומספר ישוב
# mishkal_df[['ישוב','סהכ_קניות']].sort_values('ישוב')

# mishkal_df.plot.scatter(x='ישוב',y='סהכ_קניות',figsize = (10,5))
# # sns.countplot(x='City', data=mishkal_df)
# mishkal_df1 = mishkal_df.groupby('ישוב')[['סהכ_קניות']]
# mishkal_df1.count().plot.bar(figsize=(10,5))

In [22]:
# # יותר מדי ערים - לצמצם רשימת ערים - איחוד לקניות לפי ישוב

# # mishkal_df.dtypes

# # להפוך את הדאטה של מספר הקניות לסטרינג כדי שנוכל לאחד את כל השורות שלו לפי ישובים
# mishkal_df['סהכ_קניות'] = mishkal_df['סהכ_קניות'].astype('str')
# mishkal_df1 = mishkal_df.groupby('ישוב')['סהכ_קניות'].apply(' '.join).reset_index()
# mishkal_df1.pivot_table('סהכ_קניות', columns='ישוב',aggfunc='sum')

In [23]:
# #קורלציה 1
# #חלוקה לקבוצות - להכניס את סוגי האוכלים לקבוצות מוגדרות של מותרות/בסיסי(יקר/בינוני וזול)
# #bins = 
# sales_groups = ['Cheap','Medium','Expensive']
# #mishkal_df[[]]

In [24]:
# #קורלציה 2
# #להראות ירידה או עליה בקניות בקורונה - צריך להמיר את מספר הקניות לאינט

# mishkal_df['סהכ_קניות'] = mishkal_df['סהכ_קניות'].astype('int64')
# # mishkal_df.dtypes

# #mishkal_df1 = mishkal_df[mishkal_df['Num_of_purchases']<'60000'](drop=False)
# mishkal_df1['ת_קניה_אחרונה'] = mishkal_df[mishkal_df['ת_קניה_אחרונה']>'2020-01-01'].reset_index(drop=False)
# mishkal_df1
# # mishkal_df1.plot.scatter(x = 'Last_purchase_date', y = 'Num_of_purchases')
# # plt.scatter(mishkal_df1['Last_purchase_date'], mishkal_df1['Num_of_purchases'])
# # sns.scatterplot(data=mishkal_df1, x='ת_קניה_אחרונה', y='סהכ_קניות')
# # sns.regplot(data=mishkal_df1, x='Last_purchase_date', y='Num_of_purchases')

In [25]:
#מודל חיזוי לכמה קניות יהיו ב2022 לפי ישובים